name: Deploy to ejossolution.great-site.net

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy via FTP
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout repository
      - name: Get latest code
        uses: actions/checkout@v4

      # Step 2: Deploy via FTP
      - name: Deploy to ejossolution.great-site.net
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ftpupload.net
          username: ${{ secrets.if0_40702536 }}
          password: ${{ secrets.R1xFX1lwBzg3FP }}
          server-dir: /ejossolution.great-site.net/htdocs/
          log-level: standard

